.character-card {
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.character-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.character-card h4 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.character-card p {
    font-size: 1rem;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    align-content: space-between;
}
.content {
    margin-bottom: 20px;
}

.description h1 {
    font-size: 16px;
}

.description h3 {
    font-size: 12px;
}

